<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=(LOCALDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\erikw\source\Projekt\CurrencyConverter_Static\CurrencyConverter_Static\DataBase\CurrencyConverter.mdf;INTEGRATED Security=True" providerName="sqlserver"/>
	</connectionStrings>
</configuration>